body {
  
  margin: 15px;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #10101E;
  background: radial-gradient( #10101E 100%, #2536EB 0%);
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: relative;
  background-color: #10101E;
  color: #fff;
}

/* Add the following styles to src/App.css */



nav h1 {
  margin: 0;
  color: #DBFF00;
}

.hero {
  padding: 10rem;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #2536EB;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  margin-top: 100px;
  ;
}

button:hover {
  background-color: #DBFF00;
  color: #000;
  font-weight: bold;
}

.question-box {
  text-align:left;
  max-width: 1000px;
  height: 300px;
  padding-left: 15px;
 
margin-left: 30px;
border-radius: 10px;
background-color: #eaeaea;
color: #000;
display: block;
  margin-top: -380px;
}

.form-group {
  width:'150px';
  height:'30px';
  border-radius: 4px;
  margin-bottom: 2px;
  display: block;
}